<div class="accountbg"></div>
<div class="home-btn d-none d-sm-block">
  <a href="index.html" class="text-white"><i class="fas fa-home h2"></i></a>
</div>
<div class="wrapper-page">
  <div class="card card-pages shadow-none">

    <div class="card-body">
      <div class="text-center m-t-0 m-b-15">

      </div>
      <h5 class="font-18 text-center">Upload - <b>a Report</b></h5>

      <form #f="ngForm" class="form-horizontal m-t-30 dropzone" action="#">

        <div class="form-group">
          <div class="col-12">
            <label>Patient Name</label>
            <input #name="ngModel" [(ngModel)]="uploadImage.name" name="pName"
              class="form-control" type="text" placeholder="Patient" required>
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                  Patient Name is required.            
                </div>
          </div>
        
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Age</label>
            <input #age="ngModel" [(ngModel)]="uploadImage.age" name="age" class="form-control" required type="text"
              placeholder="Age">
              <div class="alert alert-danger" *ngIf="age.touched && age.invalid">
                  Age is required.            
                </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Sex</label>

            <select #sexId="ngModel" [(ngModel)]="uploadImage.sexId" name="sex" id="sex" class="form-control">              
            
              <option value="Male">Male</option>
              <option value="Female">Female</option>  
            </select>
           
          </div>
        </div>



        <div class="form-group">
          <div class="col-12">
            <label>Ref By</label>
            <input #refBy="ngModel" [(ngModel)]="uploadImage.refBy" name="refBy" class="form-control" type="text"
              placeholder="Reference">
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>X Ray Name</label>
            <input #xrayName="ngModel" [(ngModel)]="uploadImage.xrayName" name="xrayName" class="form-control" type="text"
              placeholder="X-ray">
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Problem</label>
            <textarea #problem="ngModel" [(ngModel)]="uploadImage.problem" name="problem" id="textarea" class="form-control" maxlength="225" rows="3"
              placeholder="Write the problem here"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-12 fallback">
            <label>Add Image</label>
            <input type="file" (change)="detectFilesForImageUrlFile($event)" name="image" class="form-control" type="file"
              multiple="multiple" placeholder="image">
          </div>
        </div>






        <div class="form-group text-center m-t-20">
          <div class="col-12">
            <button [disabled]="!f.valid" (click)="saveImageUpload(f.valid&&uploadImage)"
              class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">UPLOAD</button>
          </div>
        </div>


      </form>
    </div>

  </div>
</div>