<!-- header-bg -->
<div class="header-bg">
  <!-- Navigation Bar-->
  <header id="topnav">

    <!-- end topbar-main -->

    <!-- MENU Start -->
    <div class="navbar-custom">
      <div class="container-fluid">

        <div id="navigation">

          <!-- Navigation Menu-->
          <ul class="navigation-menu">

            <li class="has-submenu">
              <a href="/doctor-dashboard"><i class="icon-accelerator"></i> Doctor Dashboard</a>
            </li>









          </ul>
          <!-- End navigation menu -->
        </div>
        <!-- end #navigation -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->

</div>

<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->






    <!-- end row -->



    <!-- START ROW -->

    <!-- END ROW -->


    <div class="row">
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>

                    <th scope="col">Patient Name</th>
                    <th scope="col">Ref by</th>
                    <th scope="col">Age</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Date</th>


                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>{{uploadImage.name}}</td>
                    <td><span class="badge badge-success">{{uploadImage.refBy}}</span></td>
                    <td>{{uploadImage.age}}</td>
                    <td></td>

                    <td>{{uploadImage.entryDate|date}}</td>


                  </tr>


                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xl-6">
        <img [src]="uploadImage.imageUrl" alt="" style="width:100%" />
      </div>
      <div class="col-xl-6">
        <form #f="ngForm" class="form-horizontal dropzone" action="#">
          <div class="form-group">
            <div class="col-12">
              <label>Comments</label>
              <input #commentTitle="ngModel" [(ngModel)]="uploadImage.commentTitle" name="commentTitle" style="margin-bottom: 5px"  class="form-control" type="text"
                placeholder="Name of the X-ray">
              <textarea #comment="ngModel" [(ngModel)]="uploadImage.comment" name="comment" id="textarea" required
                class="form-control" maxlength="1000" rows="13" placeholder="Write your findings here"></textarea>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-12">
              <button [disabled]="!f.valid" (click)="updateImageUpload(f.valid&&uploadImage)"
                class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Submit</button>
            </div>
          </div>

        </form>

      </div>
    </div>


  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
  © 2019 ONE TOUCH IT <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i>
    by WINGS</span>.
</footer>