
<div class="accountbg"></div>
<div class="home-btn d-none d-sm-block">
  <a routerLink="/admin-dashboard" class="text-white"><i class="fas fa-home h2"></i></a>
</div>
<div class="wrapper-page">
  <div class="card card-pages shadow-none">

    <div class="card-body">
      <div class="text-center m-t-0 m-b-15">

      </div>
      <h5 class="font-18 text-center">Create a User - <b>ONLINE X-RAY BD</b></h5>

      <form #f="ngForm" class="form-horizontal m-t-30" action="#">

        <div class="form-group">
          <div class="col-12">
            <label>Institution Name</label>
            <input #inistituteName="ngModel" [(ngModel)]="appUser.inistituteName" name="inistituteName" class="form-control" type="text"  placeholder="Institution">
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Address</label>
            <input #address="ngModel" [(ngModel)]="appUser.address" name="address" class="form-control" type="text"  placeholder="Address">
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Owner Name</label>
            <input #name="ngModel" [(ngModel)]="appUser.name" name="name" class="form-control" type="text" required placeholder="Owner">
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
              Owner Name is required.
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="col-12">
            <label>Mobile Number</label>
            <input #mobile="ngModel" [(ngModel)]="appUser.mobile" name="mobile" class="form-control" type="text"  placeholder="Mobile">
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>UserName</label>
            <input #email="ngModel" [(ngModel)]="appUser.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" type="text" required placeholder="Username as Email" required>
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
              Email is required.
              <div [hidden]="!email.errors?.pattern">
                  Invalid Email
                </div> 
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-12">
            <label>Password</label>
            <input #password="ngModel" [(ngModel)]="appUser.password" name="password" minlength="6" class="form-control" type="password" required placeholder="Password">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
              Password is required.
              <div  class="alert alert-danger" *ngIf="password.errors.minlength">
                  Password must be at least 6 characters long.
                </div>
            </div>
          </div>
        </div>



        <div class="form-group text-center m-t-20">
          <div class="col-12">
            <button [disabled]="!f.valid" (click)="signUp(f.valid&&appUser)" class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Register a
              User</button>
          </div>
        </div>


      </form>
    </div>

  </div>
</div>