<div class="header-bg">
  <!-- Navigation Bar-->
  <header id="topnav">

    <!-- end topbar-main -->

    <!-- MENU Start -->
    <div class="navbar-custom">
      <div class="container-fluid">

        <div id="navigation">

          <!-- Navigation Menu-->
          <ul class="navigation-menu">

            <li class="has-submenu">
              <a routerLink="/admin-dashboard"><i class="icon-accelerator"></i> Admin Dashboard</a>
            </li>

            <li class="has-submenu">
              <a href="#"><i class="icon-pencil-ruler"></i> Total User </a>

            </li>


          </ul>
          <!-- End navigation menu -->
        </div>
        <!-- end #navigation -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->

</div>
<!-- header-bg -->

<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->


    <!-- START ROW -->
    <div class="row">

      <div class="col-sm-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <h4 class="mt-0 header-title mb-4">Users</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <th>Institute Name</th>
                  <th>Owner Name</th>
                  <th>User Name</th>
                  <th> Mobile</th>
                </tr>
                <tr>
                  <td>A</td>
                  <td>B</td>
                  <td>C</td>
                  <td>D</td>
                </tr>
                <!-- <data-table
                                [items]="doctorItems"
                                [itemCount]="doctorItemCount"
                                (reload)="reloadItemsForDoctors($event)">
  
                                <data-table-column
                                [property]="'fullName'"  
                                [header]="'Name'"
                                [sortable]="true"
                                [resizable]="true"
                              ></data-table-column>
  
                                <data-table-column
                                  [property]="'address'"  
                                  [header]="'Address'"
                                  [sortable]="true"
                                  [resizable]="true"
                                ></data-table-column>
                              
                               
                                
                                <data-table-column
                                  [property]="'email'"  
                                  [header]="'User Name'"
                                  [sortable]="true"
                                  [resizable]="true"
                                ></data-table-column>
                               
                                <data-table-column
                                [property]="'mobile'"  
                                [header]="'Mobile'"
                                [sortable]="true"
                                [resizable]="true"
                              ></data-table-column>
                                
                              
                              </data-table> -->
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- END ROW -->

  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
  © 2019 ONE TOUCH IT <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i>
    by WINGS</span>.
</footer>