<div class="header-bg">
  <!-- Navigation Bar-->
  <header id="topnav">
      
      <!-- end topbar-main -->

      <!-- MENU Start -->
      <div class="navbar-custom">
          <div class="container-fluid">

              <div id="navigation">

                  <!-- Navigation Menu-->
                  <ul class="navigation-menu">

                      <li class="has-submenu">
                          <a routerLink="/admin-dashboard"><i class="icon-accelerator"></i> Admin Dashboard</a>
                      </li>

                      <li class="has-submenu">
                          <a routerLink="/create-user"><i class="icon-pencil-ruler"></i> Create User </a>
                          
                      </li>

                      <li class="has-submenu">
                          <a routerLink="/create-doctor"><i class="icon-life-buoy"></i> Create Doctor </a>
                          
                      </li>

                      <li class="has-submenu">
                          <a href="#"><i class="icon-diamond"></i> Payment and Earnings</a>
                          
                      </li>

                      <li class="has-submenu">
                        <a href="#"><i class="icon-diamond"></i> Reports</a>
                        
                    </li>

                      

                  </ul>
                  <!-- End navigation menu -->
              </div>
              <!-- end #navigation -->
          </div>
          <!-- end container -->
      </div>
      <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->

</div>
<!-- header-bg -->

<div class="wrapper">
  <div class="container-fluid">
      <!-- Page-Title -->
      <div class="page-title-box">
          <div class="row align-items-center">
              <div class="col-sm-6">
                  <h3 class="page-title">Admin Dashboard</h3>
              </div>
              
          </div>
          <!-- end row -->
      </div>

      <div class="row">

          <div class="col-sm-6 col-xl-3">
              <div class="card">
                  <div class="card-heading p-4">
                      <div class="mini-stat-icon float-right">
                          <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                      </div>
                      <div>
                          <h5 class="font-16">Total User</h5>
                      </div>
                      <h3 class="mt-4">120</h3>
                      
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-xl-3">
              <div class="card">
                  <div class="card-heading p-4">
                      <div class="mini-stat-icon float-right">
                          <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                      </div>
                      <div>
                          <h5 class="font-16">Total Earnings</h5>
                      </div>
                      <h3 class="mt-4">BDT 73,265</h3>
                      
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-xl-3">
              <div class="card">
                  <div class="card-heading p-4">
                      <div class="mini-stat-icon float-right">
                          <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                      </div>
                      <div>
                          <h5 class="font-16">Total Doctor</h5>
                      </div>
                      <h3 class="mt-4">447</h3>
                      
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-xl-3">
              <div class="card">
                  <div class="card-heading p-4">
                      <div class="mini-stat-icon float-right">
                          <i class="mdi mdi-buffer bg-danger text-white"></i>
                      </div>
                      <div>
                          <h5 class="font-16">Total Uploads</h5>
                      </div>
                      <h3 class="mt-4">86</h3>
                      
                  </div>
              </div>
          </div>

      </div>

      
      <!-- end row -->

      

      <!-- START ROW -->
      
      <!-- END ROW -->

  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
  © 2019 ONE TOUCH IT <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by WINGS</span>.
</footer>