<div class="header-bg">
  <!-- Navigation Bar-->
  <header id="topnav">

    <!-- end topbar-main -->

    <!-- MENU Start -->
    <div class="navbar-custom">
      <div class="container-fluid">

        <div id="navigation">

          <!-- Navigation Menu-->
          <ul class="navigation-menu">

            <li class="has-submenu">
              <a href="index.html"><i class="icon-accelerator"></i> Doctor Dashboard</a>
            </li>

            <!-- <li class="has-submenu">
              <a href="#"><i class="icon-pencil-ruler"></i> Upload </a>

            </li> -->

            <li class="has-submenu">
              <a routerLink="/waiting-report"><i class="icon-life-buoy"></i> Waiting Report </a>

            </li>





          </ul>
          <!-- End navigation menu -->
        </div>
        <!-- end #navigation -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->

</div>
<!-- header-bg -->

<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h3 class="page-title">Doctor Dashboard</h3>
        </div>

      </div>
      <!-- end row -->
    </div>

    <div class="row">

      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-heading p-4">
            <div class="mini-stat-icon float-right">
              <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
            </div>
            <div>
              <h5 class="font-16">Total Work</h5>
            </div>
            <h3 class="mt-4">{{totalWork}}</h3>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-heading p-4">
            <div class="mini-stat-icon float-right">
              <i class="mdi mdi-briefcase-check bg-success text-white"></i>
            </div>
            <div>
              <h5 class="font-16">Today's Work</h5>
            </div>
            <h3 class="mt-4">{{todaysWork}}</h3>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-heading p-4">
            <div class="mini-stat-icon float-right">
              <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
            </div>
            <div>
              <h5 class="font-16">This Month</h5>
            </div>
            <h3 class="mt-4">{{totalWorkInthisMonth}}</h3>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-heading p-4">
            <div class="mini-stat-icon float-right">
              <i class="mdi mdi-buffer bg-danger text-white"></i>
            </div>
            <div>
              <h5 class="font-16">Last Month</h5>
            </div>
            <h3 class="mt-4">{{totalWorkPreviousMonth}}</h3>

          </div>
        </div>
      </div>

    </div>




    <!-- end row -->



    <!-- START ROW -->

    <!-- END ROW -->


    <div class="row">
      <div class="col-xl-12">
        <div class="card m-b-30">
          <div class="card-body">
            <h4 class="mt-0 header-title mb-4">Completed Report</h4>
            <div class="table-responsive">

                <data-table
                [items]="items"
                [itemCount]="itemCount"
                (reload)="reloadItems($event)">
              
                <data-table-column
                  [property]="'name'"  
                  [header]="'Name'"
                  [sortable]="true"
                  [resizable]="true"
                ></data-table-column>
                
                <data-table-column 
                 [property]="'refBy'" 
                 [header]="'Ref By'"
                 [sortable]="true" 
                 [resizable]="true">
                  </data-table-column>
              
                  <data-table-column 
                  [property]="'problem'" 
                  [header]="'Problem'"
                  [sortable]="true" 
                  [resizable]="true">
                </data-table-column>

                <data-table-column 
                [property]="'entryDate'" 
                [header]="'Date'"
                [sortable]="true" 
                [resizable]="true">

                <ng-template #dataTableCell let-item="item">
                    {{ item.entryDate | date }}
                  </ng-template>
              </data-table-column>                                                                
              
                <data-table-column 
                  [property]="'key'"  
                  [header]="'Action'"
                >
                  <ng-template #dataTableCell let-item="item">
                      <a [routerLink]="['/print-report/',item.key]" class="btn btn-primary btn-sm">View</a>
                    <!-- <a  [routerLink]="['/admin/products/', item.$key]">Edit </a>                   -->
                  </ng-template>
                </data-table-column>
              
              </data-table>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
  © 2019 ONE TOUCH IT <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i>
    by WINGS</span>.
</footer>